################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/wordleSolver/FileContentIndex/6a98cd1e-acb2-418a-baf0-9d977ed0ca9b.vsidx
/.vs/wordleSolver/FileContentIndex/86e2d403-6bdd-4fdb-b04e-dbd8528f96a1.vsidx
/.vs/wordleSolver/FileContentIndex/df21306b-3ed7-43c6-8e3c-9b4fcf5bab08.vsidx
/.vs/wordleSolver/FileContentIndex/66bc7a2d-dae4-4da4-9807-9c78cefc8fef.vsidx
/.vs/wordleSolver/FileContentIndex/49a38df1-4346-4789-a6e9-40f58821f43b.vsidx
/.vs/wordleSolver/FileContentIndex/755e3261-dd03-4cf5-84e5-3fa98c253cff.vsidx
/.vs